---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Acerca de nosotros">
    <h1 class="text-4xl text-red-600">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis maxime cum ea, libero consectetur, quas quam hic eligendi, ex numquam dolor iste voluptas. Vero perferendis quasi ad nam. Unde, harum!
    Totam sint velit aut hic vero autem maiores repellendus eius corrupti error facere, et obcaecati repudiandae dolorem sed, facilis excepturi non sequi modi consequatur temporibus neque! Eius quasi optio ducimus.
    Laboriosam nostrum repudiandae dignissimos, perferendis fugit autem libero rem quis ut in temporibus modi esse, assumenda, saepe inventore qui quasi explicabo! Ut, eum error. At a minima optio nihil fugiat!
    Unde possimus iste ut eveniet similique quidem sequi ipsam dolorem id. Deleniti, unde nam eaque ducimus fuga, mollitia tenetur, quod maiores dolorem quae quasi voluptatibus recusandae consequuntur repellat impedit aliquid!
    Odio, eligendi eum nobis dolorem ad corporis eos perspiciatis accusamus laboriosam mollitia rem. Accusamus molestias a facilis atque quia vitae cum ea corporis laboriosam. Ipsa sapiente natus corrupti eaque ex.
    Deleniti odit sint in, ipsum voluptates necessitatibus excepturi asperiores sapiente ipsa, animi perspiciatis aspernatur eveniet est provident natus voluptatem optio sit ut expedita nihil! Rem id quod quaerat odit architecto!
    Non beatae consequuntur fugiat libero ducimus sit recusandae? Sed dignissimos architecto alias numquam minus maxime atque repellendus voluptate nostrum ullam molestiae fugiat harum cumque blanditiis nisi, doloremque voluptatem? Ducimus, quos.
    Quae, facilis! Repellat minus cupiditate aspernatur voluptatum quis esse temporibus, alias, autem similique beatae, molestias magni quisquam! Hic officia, ex esse recusandae repudiandae a! Porro repudiandae ducimus quas nulla beatae.
    Ad fugit odit voluptatem modi temporibus, ut nam doloremque totam sunt ipsam amet, aspernatur asperiores sed reiciendis placeat impedit hic molestiae provident ducimus distinctio autem. Expedita inventore cumque adipisci laborum.
    Sint nobis sed ipsa ipsam odio rerum pariatur sit soluta culpa nulla possimus odit esse aperiam ut, perferendis, nisi dicta molestiae quibusdam, itaque repellendus commodi saepe. Suscipit perspiciatis architecto mollitia!</p>
</Layout>